body{
    margin:0px;
    background-color: lightsalmon;
}

a{
    text-decoration: none;
}

/*Header Section*/
header{
    height: 60px;
    /* boder:5px solid hotpink */
    background-color:rgb(68, 120, 189)
}


/*Search Section*/
#search{
height: 450px;
/* border:1px solid red;
background-color: #d9b6ca; */
background-image: url("./wp9980760.webp");
background-repeat: no-repeat;
/*background-size: cover; */
background-size: 100% 450px;
}

#brand{
    float:left;
    color: white;
    font-size: 35px;
    margin-top: 1%;
    margin-left: 1%;
}

#social{
    float:right
}

.socialLogo{
    height:50px;
}

.logo{
    height:150px;
    width:150px;
    background-color: antiquewhite;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 2%;
    position: absolute;
    font-size: 90px;
}

.logo> span{
    margin-left: 20%;
    margin-top: 15%;
    position: absolute;
}

#heading{
    font-size: 50px;
    color: rgb(241, 241, 240);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 15%;
    position: absolute;
}

.dropdown{
    height: 60px;
    width: 50%px;
    /*border: 2px solid white; */
    margin-left: 28%;
    margin-top: 22%;
    position: absolute;
}

select{
    height: 60px;
    width: 40%;
    font-size: 20px;
    text-align: center;
}

#restSelect{
    width: 59%;
}

/*quick Search Section*/
#quickSearch{
    height: 600px;
    /*border: 5px double orange;*/
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quickHeading{
    color:rgb(132, 20, 236);
    font-size:30px;
    font-weight:bold;
}

.quickSubHeading{
    color: #d81344;
    font-size:20px;
    display: block;
    line-height: 2;
}

.tileContainer{
    height: 140px;
    width: 30%;
    margin-left: 2%;
    margin-top: 3%;
    box-shadow:10px 15px 10px white ;
    float: left;
}


.tileComponent1{
    width:52%;
    float:left
}


.tileComponent1 >img{
    width:100%;
    height:140;
}




.tileComponent2{
    width:45%;
    float:left;
    margin-left:3%;
    margin-top: 15%;
}

.compHeding{
    font-size: 25px;
    font-weight: bold;
    color: rgb(224, 28, 182);
}

.compHeding >a{
    color: rgba(80, 156, 255, 0.993) !important
}

.compSubHeding{
    font-size: 25px;
    color: rgb(230, 33, 164);
}

/*footer Section*/
footer{
    /* borde:5px groove green; */
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.footText{
    font-size: 20px;
}

.footDiv{
    display: inline-block;
    width: 32%;
    border-right: 2px solid white;
}
.noBorder{
    boder:none
}

ul{
    list-style-type: none
}